@model periodontist.Models.IndexViewModel

<p class="text-success">@ViewBag.StatusMessage</p>
<div id="userData">
    <h2>{{title}}</h2>
    <hr />
    <ul class="userData">
        <li class="userName">
            <span>Имя пользователя</span>
            <span>@Model.UserData.UserName</span>
        </li>
        <li class="userEmail">
            <span>Email пользователя</span>
            <span>@Model.UserData.Email</span>
        </li>
    </ul>
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>

    </dl>
    @if (Model.UserData.Role.Name == "admin")
    {
        <a href="/Manage/UsersList">Показать список пользователей</a> 
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/userdata");
}