<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="container siteHeader">
        <h1 class="font-weight-bold siteHeader__title">Рыбченко Надежда Николаевна</h1>
        <h3>Эксперт по заболеваниям полости рта</h3>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Домой<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Часто задаваемые вопросы</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link " href="#">
                                    Блог
                                </a>
                            </li>

                        </ul>
                    </div>

                </nav>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/axios")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/periodontist")
    @RenderSection("scripts", required: false)
</body>
</html>
